P4_RUN_MODE=bootstrap
P4_NETWORK_ENABLED=false
P4_DATA_ROOT=./data
P4_ARTIFACT_ROOT=./artifacts
P4_RAW_ROOT=./data/raw
P4_STAGING_ROOT=./data/staging
P4_PROCESSED_ROOT=./data/processed
P4_EXTERNAL_ROOT=./data/external
P4_REFERENCE_ROOT=./data/reference
P4_MART_ROOT=./data/marts
P4_RELEASE_ROOT=./data/releases
