P4_RUN_MODE=canary
P4_NETWORK_ENABLED=false
P4_DATA_ROOT=./data
P4_ARTIFACT_ROOT=./artifacts
P4_APPROVAL_FILE=./local/approvals/canary-approval.json
P4_CANARY_MAX_INDEX_REQUESTS=0
P4_CANARY_MAX_DETAIL_REQUESTS=0
P4_CANARY_MAX_ASSET_REQUESTS=0
