P4_RUN_MODE=production
P4_NETWORK_ENABLED=false
P4_DATA_ROOT=./data
P4_ARTIFACT_ROOT=./artifacts
P4_APPROVAL_FILE=./local/approvals/production-approval.json
P4_RELEASE_ROOT=./data/releases
P4_MART_ROOT=./data/marts
